@import './theme.scss';

html * {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-style: normal, sans-serif;
}

body {
	background: $background-color;

	height: 100%;
	margin: 0 0;
	left: 0;
	top: 0;
}
