@import './theme.scss';

:export {
	mobile: #{$media-mobile};
	nomobile: #{$media-non-mobile};
	tabletlandscape: #{$media-tablet-landscape};
	tabletportrait: #{$media-tablet-portrait};
	desktop: #{$media-desktop};
	tablet: #{$media-tablet};
}
