#####################################################################################################
##################################                              #####################################
##################################       DOCKER COMPOSE         #####################################
##################################                              #####################################
#####################################################################################################
BACKEND_PORT=
FRONTEND_PORT=


#####################################################################################################
##################################                              #####################################
##################################          BACKEND             #####################################
##################################                              #####################################
#####################################################################################################
PORT=
PROTOCOL=
PASSPHRASE=

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URI=

# JWT
ACCESS_TOKEN_SECRET_KEY=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_SECRET_KEY=
REFRESH_TOKEN_EXPIRES_IN=

CLIENT_URL=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=

DATABASE_URL=

#####################################################################################################
##################################                              #####################################
##################################          FRONTEND            #####################################
##################################                              #####################################
#####################################################################################################

#PORT=
