@import '../../../../app/styles/index.scss';

.content {
	height: fit-content;

	.title {
		cursor: default;
		text-transform: uppercase;
		font-weight: 700;
		font-size: vw(16);
		line-height: vw(20);
	}

	.mainInfo {
		padding: vw(14) 0 0 vw(14);
		display: flex;
		flex-direction: column;
		height: fit-content;

		.objInfo {
			cursor: default;
			margin-top: vw(20);
			font-weight: 500;
			font-size: vw(15);
			line-height: vw(18);

			color: rgba(0, 0, 0, 0.6);
		}

		.description {
			cursor: default;
			white-space: pre-wrap;
			width: vw(1000);
			font-weight: 500;
			font-size: vw(15);
			line-height: vw(18);

			color: rgba(0, 0, 0, 0.6);
		}

		.respAndAchs {
			li {
				margin: vw(5) 0 0 vw(5);
				color: #c93c3d;

				span {
					font-weight: 500;
					font-size: vw(15);
					line-height: vw(18);

					color: rgba(0, 0, 0, 0.6);
				}
			}
		}
	}
}
