@import '../../../../app/styles/index.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	width: fit-content;
	height: fit-content;

	.info {
		display: flex;

		.avatar {
			width: vw(79);
			height: vw(79);

			img {
				width: vw(79);
				height: vw(79);
				border-radius: vw(100);
			}
		}

		.credentials {
			cursor: default;

			display: flex;
			flex-direction: column;
			margin-left: vw(16);

			.fio {
				font-weight: 700;
				font-size: vw(16);
				line-height: vw(20);

				color: #000000;
			}
		}
	}

	.otherInfo {
		margin-left: vw(40);
		.role {
			cursor: default;
			margin-top: vw(20);
			font-weight: 500;
			font-size: vw(15);
			line-height: vw(18);

			color: rgba(0, 0, 0, 0.6);
		}
	}
}
