@import '../../../app/styles/index.scss';

.wrapper {
	width: vw(500);
	height: vhw(50);
	background: #f3f3f3;
	display: flex;
	align-items: center;
	border-radius: vw(10);

	.searchInput {
		width: vw(400);
		height: vhw(30);
		margin-left: vw(15);

		outline: none;
		background-color: transparent;
		border: none;

		font-weight: 400;
		font-size: vw(16);
		line-height: vw(20);
	}

	.searchLoupe {
		cursor: pointer;

		width: vw(32);
		height: vhw(32);
		margin-left: vw(15);

		svg {
			width: vw(32);
			height: vhw(32);
		}
	}
}
